{% extends "base.html" %}


{% load static %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock modal_cart %}
{% block content %}

   <div class="card">
      <div class="card-body">
         <div class="bg-white custom-shadow">
            <div class="mt-2" style="text-align: center;">
               <h2>{{ content }}</h2>
            </div>
            <div class="mt-4">
               <h5>История MelodyStore</h5>
               <p>MelodyStore был основан в 2020 году с целью предоставить музыкантам и любителям музыки доступ к качественным музыкальным инструментам по доступным ценам. Мы начинали как небольшой семейный бизнес, но благодаря вашей поддержке и доверию, мы выросли и стали одним из ведущих интернет-магазинов музыкальных инструментов.</p>
               <h5>Наша миссия</h5>
               <p>Наша миссия — вдохновлять и поддерживать музыкантов на их пути к созданию прекрасной музыки. Мы верим, что каждый человек способен создавать музыку, и наша задача — предоставить все необходимое для того, чтобы этот процесс был приятным и доступным.</p>
               <h5>Что мы предлагаем</h5>
               <p>В MelodyStore вы найдете широкий ассортимент музыкальных инструментов и аксессуаров для музыкантов любого уровня. Мы сотрудничаем с ведущими мировыми брендами, чтобы гарантировать качество и надежность каждой покупки.</p>
               <ul>
                  <li>Гитары: от акустических до электрических.</li>
                  <li>Клавишные: пианино, синтезаторы и миди-клавиатуры.</li>
                  <li>Ударные инструменты: барабаны, перкуссия и аксессуары.</li>
                  <li>Струнные инструменты: скрипки, виолончели и контрабасы.</li>
                  <li>Духовые инструменты: флейты, саксофоны, кларнеты и многое другое.</li>
               </ul>
               <h5>Почему выбирают нас</h5>
               <ul>
                  <li>Качество: Мы предлагаем только проверенные и качественные инструменты.</li>
                  <li>Поддержка клиентов: Наша команда всегда готова помочь вам с выбором и ответить на все вопросы.</li>
                  <li>Гарантия и сервис: Мы предоставляем гарантию на все наши товары и предлагаем услуги по их обслуживанию и ремонту.</li>
                  <li>Быстрая доставка: Мы обеспечиваем быструю и надежную доставку по всей России.</li>
               </ul>
               <h5>Наша команда</h5>
               <p>В MelodyStore работает команда увлеченных музыкантов и профессионалов, которые разделяют вашу страсть к музыке. Мы знаем, как важно найти "тот самый" инструмент, и готовы помочь вам в этом поиске.</p>
            </div>
         </div>
      </div>
   </div>
{% endblock content %}
