{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="{% static "deps/css/bootstrap5/bootstrap.min.css" %}" rel="stylesheet">
   <link href="{% static "deps/css/my-styles.css" %}" rel="stylesheet">

   <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/images/logo.png" %}"> 
   <title>{{ title }}</title>
</head>

<body>
   <div class="wrapper">
      <header>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
   
               <a class="navbar-brand" href="{% url "main:index" %}"><img src="{% static "deps/images/logo.png" %}" alt="" height="60"></a>
   
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                           Информация
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                           <li><a class="dropdown-item" href="#">Доставка и оплата</a></li>
                           <li><a class="dropdown-item" href="#">Контактная информация</a></li>
                           <li><a class="dropdown-item" href="{% url "main:about" %}">О нас</a></li>
                        </ul>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                           Каталог
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                           {% tag_categories as categories %}
                           {% for category in categories %}
                              <li><a class="dropdown-item" href="{% url "catalog:index" category.slug %}">{{category.name}}</a></li>
                           {% endfor %}
                        </ul>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="./carts/cart.html">Корзина</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                           Мой профиль
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                           <li><a class="dropdown-item" href="./carts/cart.html">Корзина</a></li>
                           <li><a class="dropdown-item" href="./users/profile.html">Личный кабинет</a></li>
                           <li><a class="dropdown-item" href="{% url "admin:index" %}">Админ панель</a></li>
                           <li>
                              <hr class="dropdown-divider">
                           </li>
                           <li><a class="dropdown-item" href="#">Выйти</a></li>
                        </ul>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Войти</a>
                     </li>
                  </ul>
                  <form class="d-flex">
                     <div style="margin: 0px 10px;">
                        <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton"
                           aria-expanded="false">
                           <img class="mx-1" src="{% static "deps/icons/basket2-fill.svg" %}" alt="Catalog Icon" width="24" height="24">
                           <span id="goods-in-cart-count">0</span>
                        </button>
                     </div>
                     <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                     <button class="btn btn-outline-secondary" type="submit">Поиск</button>
                  </form>
               </div>
            </div>
         </nav>
      </header>
      <div class="main">
         {% block content %}{% endblock content %}
      </div>
      <footer>
         <div class="container">
            <div class="row">
               <div class="col">
                  <p class="m-0 footer-text">
                     <img class="mx-1" src="{% static "deps/icons/map.svg" %}" alt="Icon" width="24" height="24">
                     ул. Генерал-лейтенанта Озерова, 30
                  </p>
               </div>
               <div class="col">
                  <p class="m-0 footer-text">
                     <img class="mx-1" src="{% static "deps/icons/mail.svg" %}" alt="Icon" width="24" height="24">
                     melody-store@gmail.com
                  </p>
               </div>
               <div class="col">
                  <p class="m-0 footer-text">
                     <img class="mx-1" src="{% static "deps/icons/clock.svg" %}" alt="Icon" width="24" height="24">
                     10:00 - 19:00
                  </p>
               </div>
            </div>
         </div>
      </footer>
   </div>




   <script src="{% static "deps/js/bootstrap5/bootstrap.bundle.min.js" %}"></script>
</body>

</html>